{% extends 'flatpages/default.html' %}

{% load my_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load my_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
   <h1>Все статьи</h1>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3>Всего: {{ articles|length }} статьи</h3>

   <hr>
   {% if articles %}
       <table>
           <tr>
               <td>Название</td>
               <td>Текст</td>
               <td>Рейтинг</td>
               <td>Автор</td>
               <td>Категория</td>
           </tr>

           {% for article in articles %}
           <tr>
               <td>{{ article.title|censor1 }}</td>
               <td>{{ article.text|truncatechars:20|censor2 }}</td>
               <td>{{ article.rating }}</td>
               <td>{{ article.author }}</td>
               <td>{{ article.category }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}